.pagination-container {
  display: flex;
}

.page-number {
  padding: 10px;
  background-color: #eee;
  display: block;
  width: 25px;
  text-align: center;
  border: 1px solid #154360;

  &:hover {
    background-color: #666;
  }
  &-active{
    color: #f7f9f9;
    background-color: #3AAEF0;
  }
}